#Core Scientific Stack
numpy<2.0
pandas
pandas-ta
scikit-learn
joblib
arch

#Modeling & Optimization
# lightgbm  # CPU build (fallback)
lightgbm==4.3.0 --extra-index-url https://pypi.nvidia.com  # GPU build
cupy-cuda12x==13.0.0
catboost
hyperopt
shap
pykalman

#Data & API
polygon-api-client
pytz
python-dotenv
setuptools

#Testing & Linting
pytest
mypy
types-pytz
