#Core Scientific Stack
numpy<2.0
pandas
pandas-ta
scikit-learn
joblib
arch

#Modeling & Optimization
lightgbm
catboost
hyperopt
shap
pykalman
hmmlearn==0.3.2

#Data & API
polygon-api-client
pytz
python-dotenv
setuptools

#Testing & Linting
pytest
mypy
types-pytz
